.login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../../assets/images/5570863.jpg');
}

.login-form {
    // width: 20vw;
    border-radius: 6px;
    padding: 50px 30px;
    box-shadow: 0px 0px 30px #ebebeb;
    background: #fff;
}